﻿
@using Globalknowledge.Models;
@{ 
    var datas = (UserModel)Session["UserLoginDemo"];
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->

    <link href="~/Content/bs-binary-admin/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Content/bs-binary-admin/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="~/Content/bs-binary-admin/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/Content/bs-binary-admin/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    @* <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />*@


    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/Content/bs-binary-admin/assets/js/jquery-1.10.2.js"></script>

    <script src="~/Content/Angular/angular.min.js"></script>
   
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/Content/bs-binary-admin/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/Content/bs-binary-admin/assets/js/jquery.metisMenu.js"></script>
    <!-- MORRIS CHART SCRIPTS -->
     <script src="~/Content/bs-binary-admin/assets/js/morris/morris.js"></script>
    <script src="~/Content/bs-binary-admin/assets/js/morris/raphael-2.1.0.min.js"></script>


    <!-- CUSTOM SCRIPTS -->
    <script src="~/Content/bs-binary-admin/assets/js/custom.js"></script>


    <script>

    </script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Testing admin</a>
            </div>
            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">
                Last access : 30 May 2014 &nbsp; <a href="/Login/Logout" class="btn btn-danger square-btn-adjust">Logout</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    @if (datas.UserId == 1000)
                    {

                        <li class="text-center">
                            <img src="~/Content/bs-binary-admin/assets/img/find_user.png" class="user-image img-responsive" />
                        </li>


                        <li>
                            <a class="active-menu" href="/TempLayout/DashBoard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/TempLayout/UIElements"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                        </li>
                        <li>
                            <a href="/TempLayout/TablePanel"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
                        </li>
                        <li>
                            <a href="/TempLayout/MorisChart"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
                        </li>
                        <li>
                            <a href="/TempLayout/TableExsample"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                        </li>
                        <li>
                            <a href="/TempLayout/Forms"><i class="fa fa-edit fa-3x"></i> Forms </a>
                        </li>


                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Link</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Link</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Link</a>
                                        </li>

                                    </ul>

                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/TempLayout/BlankPage"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                        </li>

                    }

                    <li>
                        <a class="active-menu" href="/Home/Dashboard"><i class="fa fa-th fa-2x"></i>User board</a>
                    </li>

                    <li>
                        <a><i class="fa fa-film fa-2x"></i>Video<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Home/GlobalKnowledge_Videos"><i class="fa fa-play"></i>Global Knowledge</a>
                            </li>
                            <li>
                                <a href="/Home/Exams">Exams</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-sitemap fa-3x"></i>Exams<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Home/Exams">Exams</a>
                            </li>                           

                        </ul>
                    </li>


                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">

            @RenderBody()

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    




</body>
</html>







