﻿
@model Globalknowledge.Models.UserModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Login_LayOut.cshtml";
}

    

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <span class="login100-form-title p-b-26">
                    Welcome
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    @*<input class="input100" type="text" name="email" placeholder="Email">*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email" })
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    @Html.PasswordFor(m => m.Password, new { @class = "input100", placeholder = "Password" })
                    @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a class="txt2" href="/Login/SignUp">
                        Sign Up
                    </a>
                </div>
            }
            </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

