﻿
@{
    ViewBag.Title = "SessionExpired";
    Layout = "~/Views/Shared/_Login_LayOut.cshtml";
}


 
    <style>
        .cust_404 {
            text-align: center;
            margin-top: 60px;
        }

            .cust_404 h1 {
                font-size: 97px;
            }

            .cust_404 a {
                float: right;
                background: #007bff;
                padding: 9px 69px;
                color: #fff;
                text-decoration: none;
            }
    </style>
  
 
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cust_404">
                    <h1>404</h1>
                    <h2>YOUR SESSION EXPIRED</h2>
                    <hr>
                    <p>Any Confirmed Transactions are saved , but u will need to restart any searches or unfinished transactions</p>
                    <a href="/Login/Login" class="sub-tn">Back to home</a>
                </div>
            </div>
        </div>
    </div>


 


