﻿
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Login_LayOut.cshtml";
}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    Welcome
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <span>Name</span>
                    <input class="input100" type="text" name="email">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <span>Email</span>
                    <input class="input100" type="text" name="email">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <span>Verify Email Id</span>
                    <input class="input100" type="text" name="email">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span>Password</span>
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" name="pass">
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Create
                        </button>
                    </div>
                </div>
                                
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


