﻿@model Globalknowledge.Models.UserMarkHistoryModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



   
<div ng-app="DashBoard" ng-controller="DashBoardController">
    <div class="col-md-8 col-sm-8">
        <!--   Kitchen Sink -->
        <div class="panel panel-success">
            <div class="panel-heading">
                Progress card
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Right</th>
                                <th>Wrong</th>
                                <th>Skip</th>
                                <th>Total</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a1 in Model.list_UserMarkHistoryModel)
                            {
                                <tr>
                                    <td>@a1.CreateDate</td>
                                    <td>@a1.RightAnswer</td>
                                    <td>@a1.WrongAnswer</td>
                                    <td>@a1.SkipAnswer</td>
                                    <td>@a1.TotalQuestion</td>
                                    <td><a class="btn btn-danger btn-xs" id="@a1.MarkHistoryId" ng-click="deleteData($event)">Delete</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Kitchen Sink -->
    </div>




    <div class="col-md-4 col-sm-4">
        <!--   Kitchen Sink -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                Progress
            </div>
            <div class="panel-body">
                <label>Right : @Model.model_UserMarkHistoryModel.RightAnswer</label>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@Model.model_UserMarkHistoryModel.RightAnswer">
                        <span class="sr-only">@Model.model_UserMarkHistoryModel.RightAnswer Complete (success)</span>
                    </div>
                </div>
                <label>Skip : @Model.model_UserMarkHistoryModel.SkipAnswer</label>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@Model.model_UserMarkHistoryModel.SkipAnswer">
                        <span class="sr-only">@Model.model_UserMarkHistoryModel.SkipAnswer Complete (success)</span>
                    </div>
                </div>
                <label>Wrong : @Model.model_UserMarkHistoryModel.WrongAnswer</label>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@Model.model_UserMarkHistoryModel.WrongAnswer">
                        <span class="sr-only">@Model.model_UserMarkHistoryModel.WrongAnswer Complete (success)</span>
                    </div>
                </div>
                <label>Statics :</label>
                <div class="progress progress-striped active">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: @Model.model_UserMarkHistoryModel.RightAnswer">
                            <span class="sr-only">@Model.model_UserMarkHistoryModel.RightAnswer Complete (success)</span>
                        </div>
                        <div class="progress-bar progress-bar-info" style="width: @Model.model_UserMarkHistoryModel.SkipAnswer">
                            <span class="sr-only">@Model.model_UserMarkHistoryModel.SkipAnswer Complete (warning)</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width:@Model.model_UserMarkHistoryModel.WrongAnswer">
                            <span class="sr-only">@Model.model_UserMarkHistoryModel.WrongAnswer Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End  Kitchen Sink -->
    </div>
</div>

<script>
        var app = angular.module('DashBoard', []);
        app.controller('DashBoardController', ['$scope', '$http', function ($scope, $http) {

            $scope.deleteData = function (item) {

                var MarkHistoryId = item.currentTarget.getAttribute("id");

                      var OBJ = new Object();
                      OBJ.MarkHistoryId = MarkHistoryId;
                  
            $http({
                url: "/Home/DashBordDeleteHistory",
                dataType: 'json',
                method: 'POST',
                data: OBJ,
                headers: {
                    "Content-Type": "application/json"
                },
                transformResponse: function (data, headers) {

                    if (data == "SessionExpired") {
                        var landingUrl = "/Login/SessionExpired";
                        window.location.href = landingUrl;
                    }
                    else if (data == "Login") {
                        var landingUrl = "/Login/Login";
                        window.location.href = landingUrl;
                    }
                    else if (data == null) {

                    }
                    else {
                        
                        const results = JSON.parse(data);
                        
                        alert(results.message);
                        this.location.reload();
                    }



                }
            });


            };

        }]);
</script>
