﻿
@{
    ViewBag.Title = "Exams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                @*<h2>Exams</h2>*@
              

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Success Panel
                    </div>
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="form-group">
                                <label>Radio Button Examples</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />Radio Example One

                                        <i class="fa fa-check" style="color:green;"></i>
                                        <i class="fa fa-times" style="color:red;"></i>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />Radio Example Two
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" />Radio Example Three
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" />Radio Example Three
                                    </label>
                                </div>
                            </div>

                            <a href="#" class="btn btn-success">Next</a>
                            <a href="#" class="btn btn-danger">Exit</a>

                        </div>
                    </div>
                    <div class="panel-footer">
                        Panel Footer
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Danger Panel
                    </div>
                    <div class="panel-body">                        
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                 
                                                <th>Right</th>
                                                <th>Wrong</th>
                                                <th>Skip</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td>10</td>
                                                <td>3</td>
                                                <td>5</td>
                                            </tr>
                                             
                                             
                                        </tbody>
                                    </table>
                                
                    </div>
                    <div class="panel-footer">
                        <label>Total</label> 10/100
                    </div>
                </div>
            </div>
        </div>

        <hr />

    </div>
