﻿@model Globalknowledge.Models.GlobalQuestionModel

@{
    ViewBag.Title = "GlobalKnowledge_Exams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Content/Angular/angular.min.js"></script>*@

<div id="page-inner" ng-app="GlobalKnowledgeExam" ng-controller="GlobalKnowledgeExamController">
    <div class="row">
        <div class="col-md-12">
            @*<h2>Exams</h2>*@


        </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">


        <div class="col-md-8 col-sm-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Question
                </div>
                <div class="panel-body">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Sort <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="GlobalKnowledgeExams(2)">25</a></li>
                            <li><a ng-click="GlobalKnowledgeExams(5)">50</a></li>
                            <li><a ng-click="GlobalKnowledgeExams(7)">75</a></li>
                            <li><a ng-click="GlobalKnowledgeExams(100)">100</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                    <div class="form-group" ng-repeat="a1 in ExamsQuestions">
                        <div class="form-group">
                            <label>{{a1.Question}}</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="clss-div-question {{a1.GlobalQuestionsId}}" ng-enable="a1.GlobalQuestionsId" ng-click="ValidateAnswer(a1.GlobalQuestionsId,a1.Option1)" name="{{a1.GlobalQuestionsId}}" value="{{a1.Option1}}" />{{a1.Option1}}

                                    <i class="fa fa-check" style="color:green;"></i>
                                    <i class="fa fa-times" style="color:red;"></i>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="clss-div-question {{a1.GlobalQuestionsId}}" ng-click="ValidateAnswer(a1.GlobalQuestionsId,a1.Option2)" name="{{a1.GlobalQuestionsId}}" value="option2" />{{a1.Option2}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="clss-div-question {{a1.GlobalQuestionsId}}"  ng-click="ValidateAnswer(a1.GlobalQuestionsId,a1.Option3)" name="{{a1.GlobalQuestionsId}}" value="option3" />{{a1.Option3}}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class="clss-div-question {{a1.GlobalQuestionsId}}" ng-click="ValidateAnswer(a1.GlobalQuestionsId,a1.Option4)" name="{{a1.GlobalQuestionsId}}" value="option3" />{{a1.Option4}}
                                </label>
                            </div>
                        </div>

                        <hr class="style1">

                    </div>







                </div>
                <div class="panel-footer" style="text-align:center;">
                    <a ng-click="GetResults()" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Danger Panel
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Right</th>
                                <th>Wrong</th>
                                <th>Skip</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>{{RightAnswer}}</td>
                                <td>{{WrongAnswer}}</td>
                                <td>{{SkipAnswer}}</td>
                            </tr>


                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    <label>Total</label> {{Results}}/{{Totals}}
                </div>
            </div>
        </div>
    </div>

    <hr />

</div>
<script src="~/Content/Jquery/jquery-3.4.1.min.js"></script>

<script>

 

    $(document).on('click', '.clss-div-question', function (event) {

        var values = $(this).attr('name');
       
        $("."+values).attr("disabled", true);
               
    });
</script>


<script>
    var app = angular.module('GlobalKnowledgeExam', []);
    app.controller('GlobalKnowledgeExamController', ['$scope', '$http', function ($scope, $http) {


        var answerArry = [];

        $scope.GlobalKnowledgeExams = function (datas) {
            var OBJ = new Object();
            OBJ.StringData1 = datas;
            $scope.Totals = datas;
            $http({
                url: "/Home/GlobalKnowledge_Exams_Questions",
                dataType: 'json',
                method: 'POST',
                data: OBJ,
                headers: {
                    "Content-Type": "application/json"
                },
                transformResponse: function (data, headers) {

                    if (data == "SessionExpired") {
                        var landingUrl = "/Login/SessionExpired";
                        window.location.href = landingUrl;
                    }
                    else if (data == "Login") {
                        var landingUrl = "/Login/Login";
                        window.location.href = landingUrl;
                    }
                    else if (data == null) {

                    }
                    else {
                        const results = JSON.parse(data);
                        $scope.ExamsQuestions = results.List_GlobalQuestionModel;
                        $scope.Totals = datas;
                        $scope.Results = 0;
                        $scope.RightAnswer = 0;
                        $scope.WrongAnswer = 0;
                        $scope.SkipAnswer = 0;
                    }



                }
            });

        }
        $scope.GlobalKnowledgeExams("10");

        $scope.ValidateAnswer = function (id, value) {

            var Glb = new Object();
            Glb.GlobalQuestionsId = id;
            Glb.Answer = value;
            answerArry.push(Glb);


        }

        $scope.GetResults = function () {
            var ExamResults = new Object();
            var GlobalQuestionModel = new Object();

            ExamResults.TotalQuestion = $scope.Totals;

            GlobalQuestionModel.List_GlobalQuestionModel = answerArry;
            GlobalQuestionModel.model_ExamResults = ExamResults;

            $http({
                url: "/Home/GlobalKnowledge_Exams_Results",
                dataType: 'json',
                method: 'POST',
                data: GlobalQuestionModel,
                headers: {
                    "Content-Type": "application/json"
                },
                transformResponse: function (data, headers) {

                    if (data == "SessionExpired") {
                        var landingUrl = "/Login/SessionExpired";
                        window.location.href = landingUrl;
                    }
                    else if (data == "Login") {
                        var landingUrl = "/Login/Login";
                        window.location.href = landingUrl;
                    }
                    else if (data == null) {

                    }
                    else {                        
                        const re = JSON.parse(data);
                        const results = re.Model_ExamResults;
                        $scope.Totals = results.TotalQuestion;
                        $scope.Results = results.Right;
                        $scope.RightAnswer = results.Right;
                        $scope.WrongAnswer = results.Wrong;
                        $scope.SkipAnswer = results.Skip;
                        
                        $("html, body").animate({ scrollTop: 0 }, 1000);
                    }



                }
            });
        }


    }]);
</script>
