﻿@model Globalknowledge.Models.YouTubeVideoModel

@{
    ViewBag.Title = "GlobalKnowledge_Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row mb-5">

        @foreach (var a1 in Model.List_YouTubeVideoModel)
        {
        <div class="col-lg-4 col-md-6">
            <p class="h5 mb-4">@a1.VideoName</p>

            <div class="embed-responsive embed-responsive-16by9 z-depth-2">
                <iframe class="embed-responsive-item" src="@a1.VideoURL" style="height: 101%"
                        allowfullscreen></iframe>
            </div>
            <a href="#" class="btn btn-info btn-xs" id="@a1.VideoId_String" style="margin-left:10%;">Download pdf</a>
           @* <a href="/Home/GlobalKnowledge_Exams/@a1.VideoId_String" class="btn btn-warning btn-xs" style="margin-left:2%;">Exam</a>*@
            <a href="@Url.Action("GlobalKnowledge_Exams","Home",new {values = a1.VideoId_String})" class="btn btn-warning btn-xs" style="margin-left:2%;">Exam</a>

        </div>
        }

        </div>

