﻿
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="row mb-5">

        <div class="col-lg-4 col-md-6">

            <div>
                <p class="h5 mb-4">Lesson 1</p>

                <div class="embed-responsive embed-responsive-16by9 z-depth-2">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fa3Iczgh8Ok" style="height: 101%"
                            allowfullscreen></iframe>
                </div>
                <a href="#" class="btn btn-info btn-xs" style="margin-left:10%;">Download pdf</a>
            </div>

            

        </div>
         
    </div>
 

